*
{
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: lightgray;
}

#createForumOverlayContent
{
    display: grid;
    height: 60%;
    margin: 8% auto;
    grid-template-columns: 5% 93% 2%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: ". TitleSelection closeButton"
                         "Content Content Content"
                         ". Submit ."
}

#closeButtonForum
{
    grid-area: closeButton;
}

#titleSelection
{
    grid-area: TitleSelection;
}

#submitButtonForum
{
    grid-area: Submit;
}

#content
{
    grid-area: Content;
}

#ForumContent
{
    width: 100%;
    height: 100%;
}

.closeButton:hover, .closeButton:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.zoom-in
{
    transition: transform .2s;
}

.zoom-in:hover
{
    transform: scale(1.05);
}

span.psw 
{
    float: right;
    padding-top: 16px;
}

table
{
    border-collapse: collapse;
    width: 80%;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr
{
    background-color: #f8f8f8;
}

tr:nth-child(even)
{
    background-color: #dddddd;
}