.grid-container
{
    display: grid;
    height: 100%;
    grid-template-rows: 5fr 3%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". Title Menu"
                         ". List ."
}

#createForumButton
{
    float: right;
    border: none;
    color: white;
    background-color: lightgreen;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#creteForumButton:hover
{
    background-color: green;   
}

#Menu
{
    grid-area: Menu;
}

#ForumContent
{
    padding-bottom: 40%;
    padding-right: 80%;
}
.overlay
{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overlayContent
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 60%;
}

#List
{
    grid-area: List;
}

.closeButton
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover, .closeButton:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}

table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
    background-color: #dddddd;
}