html, body
{
    background-color: lightgray;
}

*
{
    font-family: 'Roboto', sans-serif;
}

.grid-container
{
    display: grid;
    height: 100%;
    grid-template-rows: 5% 85% 10%; 
    grid-template-areas: "Title Title Title"
                         "Content Content Content"
                         "below below below"
}

.headers
{
    grid-area: Title;
}

.content
{
    height: 100%;
}

.below
{
    grid-area: below;
}

#loginOverlayContent
{
    width: 20%;
    height: 15%;
}

#signupOverlayContent
{
    width: 20%;
    height: 20%; 
}

span.psw 
{
    float: right;
    padding-top: 16px;
}