html, body
{
    height: 99%;
}

.grid-container
{
    display: grid;
    height: 100%;
    grid-template-rows: 5% 2fr 10%; 
    grid-template-areas: "Title Title Title"
                         "Content Content Content"
                         "below below below"
}

.headers
{
    background-color: aqua;
    grid-area: Title;
}

.content
{
    background-color: green;
    grid-area: Content;
    height: 100%;
}

.below
{
    background-color: red;
    grid-area: below;
}

/* Play with this to style the login button */
#loginButton
{
    float: right;
    border: none;
    color: white;
    background-color: lightgreen;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

/* Play with this to style the signup button */
#signupButton
{
    float: right;
    border: none;
    color: white;
    background-color: lightgreen;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

#loginButton:hover
{
background-color: green;
}


#loginOverlay
{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#loginOverlayContent
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

#signupOverlay
{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#signupOverlayContent
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.closeButton
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover, .closeButton:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}