html, body
{
    height: 99%;
}

.grid-container
{
    display: grid;
    height: 100%;
    grid-template-rows: 5% 2fr 10%; 
    grid-template-areas: "Title Title Title"
                         "Content Content Content"
                         "below below below"
}

.headers
{
    background-color: aqua;
    grid-area: Title;
}

.content
{
    background-color: green;
    grid-area: Content;
    height: 100%;
}

.below
{
    background-color: red;
    grid-area: below;
}

#loginButton:hover
{
    background-color: green;
}

#signupButton:hover
{
    background-color: green;
}

#loginOverlayContent
{
    width: 20%;
    height: 15%;
}

#signupOverlayContent
{
    width: 20%;
    height: 20%; 
}

.closeButton:hover, .closeButton:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}